<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" UpgradeCode="c72a6ba2-64cf-47e8-95e2-bb5c7bb8e176" Version="2.0.0" Language="1033" Name="Web Shortcut - Workday" Manufacturer="SVHA">
        <Package InstallerVersion="300" Compressed="yes"/>
        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

        <Property Id="ALLUSERS"><![CDATA[2]]></Property>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="dir_SVHA" Name="SVHA">
                    <Directory Id="dir_webapps" Name="webapps" />
                </Directory>
            </Directory>
            <!-- Step 1: Define the directory structure -->
            <Directory Id="ProgramMenuFolder">
                <Directory Id="dir_onlinesystems" Name="Online Systems"/>
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop" />
        </Directory>

        <DirectoryRef Id="dir_webapps">
            <Component Id="cmp_workdayexe" Guid="*">
                <File Id="fil_workdayexe" Source="files\Workday.exe" KeyPath="yes" Checksum="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="dir_onlinesystems">
            <Component Id="cmp_workdayshortcut" Guid="13120fac-d917-4c8c-827f-8614d081328e">
                <Shortcut Id="sc_workdayshortcut" 
                    Name="Workday" 
                    Description="Workday Web Shortcut"
                    Target="[#fil_workdayexe]"
                    WorkingDirectory="dir_onlinesystems"/>
           </Component>
        </DirectoryRef>
        <DirectoryRef Id="DesktopFolder">
            <Component Id="cmp_workdaydesktopshortcut" Guid="110ae551-8690-45b1-a376-d0163d7c1b3f">
                <Shortcut Id="sc_workdaydesktopshortcut" 
                    Name="Workday" 
                    Description="Workday Web Shortcut"
                    Target="[#fil_workdayexe]"
                    WorkingDirectory="DesktopFolder"/>
           </Component>
        </DirectoryRef>

        <Component Id="cmp_RegistryEntries" Directory="TARGETDIR" Guid="5081ca3d-0b57-4caa-9a4f-ffede419d376" KeyPath="yes">
            <RegistryKey Root="HKLM" Key="SOFTWARE\Policies\Google\Chrome\">
                <RegistryKey Key="ExtensionInstallForcelist">
                    <RegistryValue Name="1" Value="iffnipbkkgbgeffippbaldmgdpealpdd;https://cdn.walkme.com/extension/walkme_extension_update.xml" Type="string" />
                </RegistryKey>

                <RegistryKey Key="3rdparty">
                    <RegistryKey Key="extensions">
                        <RegistryKey Key="iffnipbkkgbgeffippbaldmgdpealpdd">
                            <RegistryKey Key="policy">
                                <RegistryValue Name="wmExtConfig" Value='{"u":"https://cdn.walkme.com/extension/customers/SVHA/default/c0f038f1d14345d483b9a2b1ca958c17/ext_settings.js","g":"c0f038f1d14345d483b9a2b1ca958c17","ct":900}' Type="string" />
                            </RegistryKey>
                        </RegistryKey>
                    </RegistryKey>
                </RegistryKey>

            </RegistryKey>
        </Component>

        <Feature Id="MainApplication" Title="Web Shortcut - Workday" Level="1">
            <ComponentRef Id="cmp_workdayexe" />
            <ComponentRef Id="cmp_workdayshortcut" />
            <ComponentRef Id="cmp_RegistryEntries" />
        </Feature>
        <Feature Id="fea_DesktopShortcut" Title="DesktopShortcut" Level="2">
            <ComponentRef Id="cmp_workdaydesktopshortcut" />
        </Feature>
    </Product>
</Wix>